

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
	border-bottom: 1px solid #e5e5e5;
	padding-top: 1rem!important;
}

.page-element {
	margin-top: 1rem!important;
}

footer {
  margin-top: 1rem!important;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;

}


.blog-footer {
    padding: 2.5rem 2.5rem;
    color: #999;
    border-top: .5rem solid #e5e5e5;
}