[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
numpy = "*"
ipython = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
tables = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
