/** Begin reset */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
	margin-bottom: 10px;
}

ol,ul,dl {
	list-style-position: inside;
}
/** End reset */

/** Begin standard selectors */
body {
	font: 13px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
	color: white;
	background-color: black;
}

a {
	text-decoration: none;
}

a:link,a:visited {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 800;
	color: #000;
}
/** End standard selectors */

/** Begin spa namespace selectors */
#ws {
	position: absolute;
	display: box;
	top: 8px;
	left: 8px;
	bottom: 8px;
	right: 8px;
	min-height: 500px;
	min-width: 500px;
	overflow: hidden;
	background-image: url('../img/body.png');
	background-position: center;
	background-clip: content-box;
	border-radius: 8px 8px 8px 8px;
	background-repeat: no-repeat;
	background-size: 100%;
}

label {
	width: 100px;
	float: left;
	padding: 0;
	margin: 0;
	border: 0;
	display: inline;
}

label:after {
	content: ': ';
}

.wgt-input-regular {
	display: inline;
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	padding: 0;
	margin: 0;
	border: 1;
	/*   border-style: groove;*/
}

.wgt-input-small {
	display: inline;
	width: 75px;
	padding: 0;
	margin: 0;
	border: 1;
}

.row {
	display: block;
	margin: 5px 0 5px 0;
	padding: 0;
}

.right {
	float: right;
}
/** End spa namespace selectors */