/*
 * Module feature styles
*/
.modBodyCenter {
	max-height: 200px;
	min-width: 300px;
	max-width: 290px;
	overflow-y: auto;
	overflow-x: auto;
	/* background-color: grey; */
}

.modBodyFooter {
	max-height: 200px;
	min-width: 300px;
	max-width: 290px;
	overflow-y: auto;
	overflow-x: auto;
	border-radius: 0px 0px 5px 5px;
}