{
    "data": {
      "id": "SbBGk",
      "name": "Joyous fairy tale",
      "artist": "Pommello"
      , "songs": [
          {
            "id": "aklfjdklfjre"
            , "name": "such a lovely lovely what"
          }
          , {
            "id": "aklcxzczfjdklfjre"
            , "name": "go there and bring that"
          }
        ]
      },
    "success": true,
    "status": 200
  }
